<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homecare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/homeicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/homeicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeCare"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".HireServiceActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".WebActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceHomeActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".IPActivity"
            android:exported="true" />
        <activity
            android:name=".ServiceLoginActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceRegActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRegActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>